//Colors
$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

//Typography
$primary-font-size: 16px;
$primary-font-weight: 400;
$secondary-font-weight:700;

$font-family: "Roboto", serif;

*, 
*::after, 
*::before {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: $dark-slate-grey;
  font-family: $font-family;
  font-weight: $primary-font-weight;
  font-size: clamp(13px, 13px + 0.5vw, $primary-font-size);
  color:$dark-slate-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1em;
  min-height:100vh;
}
div.hidden {
  display: none;
}
button {
  margin:0.5rem 0;
  padding: 0.8rem;
  border-radius: 5px;
  border:none;
  background-color: $dark-slate-grey;
  color: $white;
  font-weight: $secondary-font-weight;
  width:100%;
  cursor: pointer;

  &:hover {
    background-color: $tomato;
    box-shadow: 1px 0px 10px $grey;
  }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: $white; }
.newsletter-form-card  {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.5em;
  border-radius: 20px;
  picture {
    width:100%;
    img {
      width: 100%;
      height:auto;
    }  
  }
  .newsletter-promotion-content {
    width:80%;
    display:flex;
    flex-direction: column;
    gap:1em;

    ul {
      list-style: none;
      display:flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display:flex;
        gap:0.8rem;
        svg {
          width: clamp(16px, 2vw, 18px);
          height: auto;
          flex-shrink:0;
        }
      }
    }
  }
#newsletter-form {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:0.5rem;

    label {
      font-weight: $secondary-font-weight;
    }
    #email-error {
      color: $tomato;
      font-weight: $secondary-font-weight;
    }
    input {
      flex-grow: 1;
      width: 100%;
      padding: 0.8rem;
      border-radius: 5px;
      border: 1px solid $grey;

      &.invalid {
        color: $tomato;
        border-color: $tomato;
      }
    }
    
  }
}

.thankyou-message-card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding:1rem;

  .thankyou-message-content {
    flex-grow: 1;
    margin-top: 5em;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  #user-email {
    font-weight: $secondary-font-weight;;
  }
}
  
@media screen and (min-width: 768px) {

  .newsletter-form-card {
    flex-direction: row-reverse;
    align-items: stretch;
    gap: 1.5rem;
    max-width:700px;
    padding:1rem;
    picture {
      width:50%; 
    }

  }
  .thankyou-message-card {
    max-width:500px;
    min-height:auto;
    padding: 3rem;
    justify-content: center;
    gap:1.5rem;
    border-radius: 20px;
     .thankyou-message-content {
      margin-top: 0;
  }
}
}